

body {
  background-color: black;

}

 img.logo{
  top: 0%;
  width: 100%;
height: auto;

}

div.logo{
  display: block;
  position: fixed;
  top: 10%;
  width: 70%;
    margin-left: 15%;  

border-radius: 25px;
color: black;
font-size: 44px;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
background-color: black;

}

table.icons {
  display: block;
  position: fixed;
  top: 55%;
  height: auto;
  left:50%;
   margin-left: -420px; 

}

img.contact_buttons{
  width: 170px;
  height: auto;
}

