

body {
  background-color: black;

}

 img.logo{
  display: block;
  position: fixed;
  top: 10%;
  width: 70%;
height: auto;
  margin-left: 15%;  /* Negative half of width. */

}


table.icons {
  display: block;
  position: fixed;
  top: 55%;
  height: auto;
  left:50%;
   margin-left: -300px; 

}

img.contact_buttons{
  width: 170px;
  height: auto;
}